@model Merck_SCHSP_Dashboard.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Log in";
}
<script src='@Url.Content("~/Scripts/ForgetPassword.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/md5.js")' type='text/javascript'></script>
<div style="margin-top: 50px">
    <div class="loginContainer">
    <form class="form-horizontal" method="post" id="loginForm">
        <div class="login-validation-div">
            @Html.ValidationSummary()
        </div>
        @Html.AntiForgeryToken()
        <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <div class="form-group">
            <label class="col-lg-12 control-label" for="username">Username:</label>
            <div class="col-lg-12">
                @Html.TextBoxFor(m => m.UserName, new { @id="userName", @class = "form-control uniform-input text", @placeholder="Enter your username ..." })
                <span class="icon16 pull-right fa fa-user"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-12 control-label" for="Password">Password:</label>
            <div class="col-lg-12">
                @Html.PasswordFor(m => m.Password, new { @id="plainPassword", @class = "form-control uniform-input password", @placeholder="Enter your password ..." })
                <span class="icon16 pull-right fa fa-lock"></span>
                <span class="forgot"><a href="javascript:ForgetPassword.ShowForgetPasswordDialog();">Forgot your password?</a></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12 clearfix form-actions">
                <div class="checkbox pull-left">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe) 
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-info pull-right" id="loginBtn"><span class="icon16 fa fa-sign-in"></span>Login</button>
            </div>
        </div>
    </form>
</div>
</div>
<div class="modal" id="common-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Reset Password: <span>Please enter your username below and click on Submit</span></h4>
            </div>
            <div class="modal-body" id="myModalBody">
                <input type="text" class="form-control" id="loginID" name="loginID" placeholder="Username">
                <label style="color: #a94442;font-size: 12px" class="input-error"></label>
            </div>
            <div class="modal-footer">
                <button id="modalClose-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="modalYes-button" type="button" onclick="javascript:ForgetPassword.ForgetPasswordSubmit();" class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</div>
