@model Dashboard.ViewModels.NewPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Change Password";
}
<div id="content" class="main-container">
    <div class="content-wrapper">
        <div id="page-heading" class="page-header">
            <h2>Reset Password</h2>
        </div>
        <div class="content-inner">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="panel panel-teal">
                        <div class="panel-heading">
                            <h4 class="panel-title">Please enter your new password below</h4>
                        </div>
                        <div class="panel-body">
                            <form method="post" class="form-horizontal">
                                <div class="login-validation-div">
                                    @Html.ValidationSummary()
                                </div>
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.UserName, new { @id = "userName", @class = "form-control", @disabled="disabled" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-10">
                                        @Html.PasswordFor(m => m.NewPassword, new { @id = "plainPassword", @class = "form-control", @placeholder = "Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "plainPassword", @class = "form-control", @placeholder = "Confirm Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
